html {
  scroll-behavior: smooth;
}

body, html {
  overflow-x: hidden; /* ✅ This stops the whole page from swinging left/right */
}


.reveal.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.reveal {
  transform: translateY(60px) scale(0.95);
}
/* Fix for the white boxes in error.jpeg */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}
