html {
  scroll-behavior: smooth;
}

body, html {
  overflow-x: hidden; /* ✅ This stops the whole page from swinging left/right */
}


/* Fix for the white boxes in error.jpeg */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}
